
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}
*{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
    scrollbar-color: #333 #222; /* Dark color for the thumb and track in Firefox */
}


body {
   background-color:black;
    color:white;
}

.close{
    display: none;
}


.left{
    width:25vw;
    padding:10px;

}


.right{
    width:75vw;
}

.home{
    padding: 10px;
}

.home ul li {
    display:flex;
    gap:15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
}

.heading{
    display:flex;
    gap:15px;
    width: 100%;
    padding-top: 14px;
    padding:23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img{
    width:25px;
}

.library{
    min-height: 77vh; /*80vh*/
    position: relative;
}

.footer{
    display:flex;
    font-size: 9px;
    color:grey;
    gap:13px;
    position: absolute;
    bottom: 8px;
    padding:10px 0;
}

.footer a{
    color:grey;
}

/*End of Left Portion*/

/*Start of Right Portion*/

.right{
    margin:16px 0;
    position: relative;
}
.nav svg{
    width:10px;
    filter:invert(1);
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34,34,34);
}

.header > *{
    padding:20px;
}

.spotifyPlaylists{
    padding:16px;
}

.spotifyPlaylists h1{
    padding:16px;
}

.cardContainer{
    margin:30px;
    display:flex;
    gap:10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card{
    width:200px;
    padding:10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a:1;
}

.card > *{
    padding-top: 10px;

}
.card img{
    width:100%;
    object-fit: contain;
}


.play{
    width:28px;
    height:28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding:4px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:168px;
    right:17px;
    opacity:var(--a);
    transition: all 1s ease-out ;
}

.buttons > *{
    margin:0 12px;
}

.signupbtn{
    background-color: rgb(34,34,34);
    color:rgb(82,82,82);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover{
    font-size: 17px;
    color: white;
    
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    color:black;
    padding:10px;
    width:79px;
    cursor:pointer;
    border: none;
    outline: none;
    font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position:fixed;
    bottom:12px;
    filter:invert(1);
    background:#dad5d5;
    border-radius: 10px;
    width:70vw;
    padding:12px;
    min-height: 25px;
}

.songbuttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-right: 70px;
}
.songList{
    height:469px;
    overflow: auto;

}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburgerContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:14px;
}


.songList ul{
    padding:0 12px;
}

.songList ul li{
    list-style-type: decimal;
    display:flex;
    justify-content: space-between;
    gap:10px;
    cursor: pointer;
    padding:4px 12px;
    border: 1px solid white;
    margin:7px 7px;
    border-radius: 5px;
}


.playnow{
    display:flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size:10px;
    width:64px;
    padding: 15px;

}

.info{
    margin-top: 8px;
}

.info div{
   font-size: 10px;
   width:52px;
 /*  word-break: break-all;*/
   
}


.seekbar{
    height:3px;
    width:70vw;
    background:  black;
    border-radius: 10px;
    position:absolute;
    bottom:10px;
    cursor: pointer;
}

.circle{
    height:13px;
    width:13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left:0%;
    transform: left 0.5s;
}


.songbuttons img{
    cursor: pointer;
}

.songinfo{
    width:250px;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.songinfo{
    color:black;
    padding:0 12px;
}
.songtime{
    width:125px;
    color:black;
    padding:0 12px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.abovebar{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
    
}


@media(max-width:1400px){
    .left{
        position: absolute;
        left: -150%;
        transition: all .3s;
        z-index: 1;
        width:350px;/*370px*/
        background-color: black;
        padding: 0;
       

    }
    .left .close {
        position:absolute;
        right:31px;
        top:40px;
        width:25px;

    }
    .right{
        width: 100vw;
        margin:0;
    }

    .playbar{
        width:calc(100vw - 60px);
        display: flex;
        justify-content:center;
        font-size:small;
    }
    .seekbar{
        width:calc(100vw - 70px);

        
    }

    .timevol{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap:10px;
    }

    .hamburger{
        display:block;
    }

    .card{
        width:55vw;/*45vw*/
    }

    .cardContainer{ 
        margin: 0;
        justify-content: center;
        max-height: 60vh;
    }

    .close{
        display:block;
    }

    .abovebar{
        flex-direction: column;
        gap:7px;
        align-items: center;
    }
    .songinfo, .songtime{
        width:auto;
    }
    .songbuttons{
        margin-right :0px;
    }
}


